@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
@import url(https://fonts.googleapis.com/css?family=Sora:400,300,100,700,900);

body {
  animation: fade-in-move-down 0.7s;
  background-color:white;
  margin: 0 auto;
  z-index: 1;
  max-width: 100%;
}

html, body {
    max-width: 100%;
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}
a:active {
    color: none;
}

h1 {
  z-index:9999;
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

p {
  position: relative;
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}

.header {
  position:relative;
  width: 100%;
  padding:60px 0;
  text-align: center;
  color: white;
  background-color:#FFB6C1;
  max-height:200px;
      /* overflow-x: hidden; */
           /*MAKES IT SO YOU CAN'T SELECT TEXT CUZ ITS UGLY*/
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */
}

.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 40px; 
}

.btn-bgstroke:hover {
  background-color:#FFB6C1;
}

html {
  scroll-behavior: smooth;
}

.navigation{
width:42px;
z-index: 2;
position:absolute;
}

#navbar {
border-radius:15px;
margin-top:10px;
width: 42px;
background-color: #FFB6C1;
}
/* Navbar links */
#navbar a {
  float: left;
  color: white;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width:42px;
}

#navbar a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 200ms ease-in-out;
}

.content {
position:absolute; 	
  padding: 16px;
  left:0;
  right: 0;
  top: 0;
margin-top:500px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 14%;
}

.sticky + .content {
  padding-top: 60px;
}



/* SEARCH */

input {
  top:-500px;
  color: pink;
  width: 250px;
  text-align: left;
  outline: none;
  border: 0;
  padding: 10px 40px;
  caret-color:pink;
  font-family: 'Lato';
  position:relative;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

input:focus {
   width: 250px;
   outline: none;
   border: 0;
}

.header_img{
  position:relative;
  left:500px;
  top:-334px;
  overflow: hidden;
  /* filter: brightness(0) invert(1); */
  object-fit: cover;
  object-position: 0px 100px;
  pointer-events: none
}

.character {
    animation: fade-in-move-down 0.7s;
    margin: 20px;
    position: relative;
    width: 140px;
    height: 140px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style-type: none;
    cursor: pointer;

    
}

.character > img {
  min-height: 140px;
  min-width: 140px;
  grid-area: image;
}

.character > p{
  position: absolute;
  padding-top:114px;
  padding-left:10px;
  font-size:14px;
  font-weight:140px;
  letter-spacing: normal;
  text-align:center;
  font-family:'Sora';
  color:white;
  border:pink;
  background-clip:content-box;
  background-color:rgba(0, 0, 0, .5);
}
li{
  top:-80px;
}

li:hover{
  filter: brightness(80%);
}


